header {
    display: flex;
    justify-content: center;
    border: solid black;
    margin-bottom: 2vh;
}

#library {
    border: solid green;
    display: grid;
    justify-items: center;
    grid-gap: 20px 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttons {
    position: sticky;
    bottom: 1vh;
    display: flex;
    justify-content: flex-end;
    border: solid red;
}

.notecardGrid {
    width: 25vw;
    height: 15vw;
    background-color: aqua;
    border: solid purple;
}

#newMovieForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid purple;
}